.loader-bars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: .5rem;
    height: 4rem;

    > div {
        background: #DDD;
        width: 2em;
        min-height: .5em;
        height: 0;
        animation: loading-bar .8s ease-in-out infinite alternate;

        @for $i from 1 to 4 {
            &:nth-child(#{$i}) {
                animation-delay: .2s * $i;
            }
        }
    }
}

@keyframes loading-bar {
    from { height: 0; opacity: .5; }
    to { height: 100%; opacity: .9; }
}