.view-player-select {
    // min-height: 600px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    // width: 100%;

    form {
        margin: auto;

        > * {
            width: 100%;
        }
    }

    @media (max-width: 1050px) {
        align-self: stretch;
        margin: 0 24px;
    }
}